/**
* CSS for the home page
*/

img {
	display: block;
  margin-top: 25px;
  max-width: 100%;
 }

#place {
  width: 550px;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

#place-right {
	margin-top: 2%;
  width: 550px;
	overflow: hidden;
	margin-right: 25%;
}

#place-right img {
	height: 340px;
}

#place-left {
  width: 550px;
	margin-left: 25%;
	float: left;
}

.formatted {
	margin: auto;
	margin-bottom: 2%;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
