/**
* CSS for the home page
*/

img {
	display: block;
  margin-top: 25px;
  max-width: 100%;
 }

#place {
  width: 350px;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

#place-right {
  width: 370px;
	overflow: hidden;
	margin-right: 18%;
}

#place-right img {
	height: 220px;
}

#place-left {
  width: 370px;
	margin-left: 18%;
	float: left;
}

.formatted {
	margin: auto;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
