/**
* CSS for the home page
*/

#header {
	padding-left: 245px;
	padding-bottom: 10px;
}

#header h1 {
	font-size: 3em;
  float: left;
	padding-right: 8px;
}

#header img {
  max-width: 70px;
}

img {
	display: block;
  margin-top: 25px;
  max-width: 100%;
 }

#place {
  width: 350px;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

#place-right {
  width: 370px;
	overflow: hidden;
	margin-right: 18%;
}

#place-right img {
	height: 220px;
}

#place-left {
  width: 370px;
	margin-left: 18%;
	float: left;
}

.formatted {
	margin: auto;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
